/* CSS HEX */
--dark-jungle-green: #15261cff;
--black: #000000ff;
--hunter-green: #255e3bff;
--hunter-green-2: #306143ff;
--xiketic: #0a0207ff;

/* CSS HSL */
--dark-jungle-green: hsla(145, 29%, 12%, 1);
--black: hsla(0, 0%, 0%, 1);
--hunter-green: hsla(143, 44%, 26%, 1);
--hunter-green-2: hsla(143, 34%, 28%, 1);
--xiketic: hsla(323, 67%, 2%, 1);

/* SCSS HEX */
$dark-jungle-green: #15261cff;
$black: #000000ff;
$hunter-green: #255e3bff;
$hunter-green-2: #306143ff;
$xiketic: #0a0207ff;

/* SCSS HSL */
$dark-jungle-green: hsla(145, 29%, 12%, 1);
$black: hsla(0, 0%, 0%, 1);
$hunter-green: hsla(143, 44%, 26%, 1);
$hunter-green-2: hsla(143, 34%, 28%, 1);
$xiketic: hsla(323, 67%, 2%, 1);

/* SCSS RGB */
$dark-jungle-green: rgba(21, 38, 28, 1);
$black: rgba(0, 0, 0, 1);
$hunter-green: rgba(37, 94, 59, 1);
$hunter-green-2: rgba(48, 97, 67, 1);
$xiketic: rgba(10, 2, 7, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #15261cff,
  #000000ff,
  #255e3bff,
  #306143ff,
  #0a0207ff
);
$gradient-right: linear-gradient(
  90deg,
  #15261cff,
  #000000ff,
  #255e3bff,
  #306143ff,
  #0a0207ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #15261cff,
  #000000ff,
  #255e3bff,
  #306143ff,
  #0a0207ff
);
$gradient-left: linear-gradient(
  270deg,
  #15261cff,
  #000000ff,
  #255e3bff,
  #306143ff,
  #0a0207ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #15261cff,
  #000000ff,
  #255e3bff,
  #306143ff,
  #0a0207ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #15261cff,
  #000000ff,
  #255e3bff,
  #306143ff,
  #0a0207ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #15261cff,
  #000000ff,
  #255e3bff,
  #306143ff,
  #0a0207ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #15261cff,
  #000000ff,
  #255e3bff,
  #306143ff,
  #0a0207ff
);
$gradient-radial: radial-gradient(
  #15261cff,
  #000000ff,
  #255e3bff,
  #306143ff,
  #0a0207ff
);
