/* CSS HEX */
:root {
--xiketic: #020412ff;
--xiketic-2: #100514ff;
--xiketic-3: #1d0515ff;
--dark-sienna: #2a0616ff;
--dark-sienna-2: #370617ff;
--dark-sienna-3: #440615ff;
--rosewood: #510513ff;
--rosewood-2: #5e0511ff;
--rosewood-3: #640510ff;
--rosewood-4: #6a040fff;

/* CSS HSL */
--xiketic: hsla(233, 80%, 4%, 1);
--xiketic-2: hsla(284, 60%, 5%, 1);
--xiketic-3: hsla(320, 71%, 7%, 1);
--dark-sienna: hsla(333, 75%, 9%, 1);
--dark-sienna-2: hsla(339, 80%, 12%, 1);
--dark-sienna-3: hsla(345, 84%, 15%, 1);
--rosewood: hsla(349, 88%, 17%, 1);
--rosewood-2: hsla(352, 90%, 19%, 1);
--rosewood-3: hsla(353, 90%, 21%, 1);
--rosewood-4: hsla(354, 93%, 22%, 1);

/* SCSS HEX */
$xiketic: #020412ff;
$xiketic-2: #100514ff;
$xiketic-3: #1d0515ff;
$dark-sienna: #2a0616ff;
$dark-sienna-2: #370617ff;
$dark-sienna-3: #440615ff;
$rosewood: #510513ff;
$rosewood-2: #5e0511ff;
$rosewood-3: #640510ff;
$rosewood-4: #6a040fff;

/* SCSS HSL */
$xiketic: hsla(233, 80%, 4%, 1);
$xiketic-2: hsla(284, 60%, 5%, 1);
$xiketic-3: hsla(320, 71%, 7%, 1);
$dark-sienna: hsla(333, 75%, 9%, 1);
$dark-sienna-2: hsla(339, 80%, 12%, 1);
$dark-sienna-3: hsla(345, 84%, 15%, 1);
$rosewood: hsla(349, 88%, 17%, 1);
$rosewood-2: hsla(352, 90%, 19%, 1);
$rosewood-3: hsla(353, 90%, 21%, 1);
$rosewood-4: hsla(354, 93%, 22%, 1);

/* SCSS RGB */
$xiketic: rgba(2, 4, 18, 1);
$xiketic-2: rgba(16, 5, 20, 1);
$xiketic-3: rgba(29, 5, 21, 1);
$dark-sienna: rgba(42, 6, 22, 1);
$dark-sienna-2: rgba(55, 6, 23, 1);
$dark-sienna-3: rgba(68, 6, 21, 1);
$rosewood: rgba(81, 5, 19, 1);
$rosewood-2: rgba(94, 5, 17, 1);
$rosewood-3: rgba(100, 5, 16, 1);
$rosewood-4: rgba(106, 4, 15, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #020412ff, #100514ff, #1d0515ff, #2a0616ff, #370617ff, #440615ff, #510513ff, #5e0511ff, #640510ff, #6a040fff);
$gradient-right: linear-gradient(90deg, #020412ff, #100514ff, #1d0515ff, #2a0616ff, #370617ff, #440615ff, #510513ff, #5e0511ff, #640510ff, #6a040fff);
$gradient-bottom: linear-gradient(180deg, #020412ff, #100514ff, #1d0515ff, #2a0616ff, #370617ff, #440615ff, #510513ff, #5e0511ff, #640510ff, #6a040fff);
$gradient-left: linear-gradient(270deg, #020412ff, #100514ff, #1d0515ff, #2a0616ff, #370617ff, #440615ff, #510513ff, #5e0511ff, #640510ff, #6a040fff);
$gradient-top-right: linear-gradient(45deg, #020412ff, #100514ff, #1d0515ff, #2a0616ff, #370617ff, #440615ff, #510513ff, #5e0511ff, #640510ff, #6a040fff);
$gradient-bottom-right: linear-gradient(135deg, #020412ff, #100514ff, #1d0515ff, #2a0616ff, #370617ff, #440615ff, #510513ff, #5e0511ff, #640510ff, #6a040fff);
$gradient-top-left: linear-gradient(225deg, #020412ff, #100514ff, #1d0515ff, #2a0616ff, #370617ff, #440615ff, #510513ff, #5e0511ff, #640510ff, #6a040fff);
$gradient-bottom-left: linear-gradient(315deg, #020412ff, #100514ff, #1d0515ff, #2a0616ff, #370617ff, #440615ff, #510513ff, #5e0511ff, #640510ff, #6a040fff);
$gradient-radial: radial-gradient(#020412ff, #100514ff, #1

}