img {
   width: 3em;
}

ul {
  list-style-type: none;
}
.landing {
  width: 100%;
 text-align: center;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  padding: 10px;
}

